* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: lavender;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

div {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-items: center;
    padding: 2rem;
    border: 0.1rem solid #CCCCCC;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.card {
    background-color: white;
    transition: ease-in-out 0.2s box-shadow;
    cursor: pointer;
}

.card:hover {
    scale: 1.05;
    background-color: greenyellow;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
