*{
    box-sizing: border-box;
    margin: 0;
    top: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
.pricing-table{
    display: flex;
    flex-direction: row;
    gap:1.5rem;
    align-items: center;
    justify-content: space-between;
}
.plan{
    border:1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 2rem 1.5rem;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.plan:hover{
    transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}
.plan h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
}
.plan .price {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 1rem 0;
}
.plan ul {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
  }
  .plan ul li {
    margin: 0.5rem 0;
    color: #555;
  }
  .plan button {
    background-color: #00ea5a;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .plan button:hover {
    background-color: #0ab45c;
    transform: translateY(-3px);
  }
  .plan.popular {
    background-color: #e3f2fd;
    border-color: #90caf9;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
  